@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
/*
 -- Fonts
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
*/

/*
 -- Variables
*/

:root {

    /* --- Colours --- */
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --trans-white-p: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);

    /* --- Sizes --- */
    --font-sm: 0.9375rem; 
    --mob: 23.4375em;
    --dktp: 90em;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-size: var(--font-sm);
}