@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
/*
 -- Fonts
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
*/

/*
 -- Variables
*/
:root {

    /* --- Colours --- */
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --trans-white-p: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);

    /* --- Sizes --- */
    --font-sm: 0.9375rem; 
    --mob: 23.4375em;
    --dktp: 90em;
}

/*
 -- Set-up & Tags
*/

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--trans-white-p);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: var(--font-sm);
}

h1 {
    margin: 0;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--very-light-gray);
}

p {
    font-size: var(--font-sm);
}

img {
    max-width: 100%;
}

section {
    padding: 2.5em;
    color: var(--trans-white-p);
}

section:first-child {
    margin-top: 5.5em;
    border-radius: .5em .5em 0 0;
}

section:last-child {
    border-radius: 0 0 .5em .5em;
    margin-bottom: 5.5em;
}

/*
 -- Custom Classes
*/

.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: var(--mob);
    margin: 0 auto;
}

.sedans {
    background-color: var(--bright-orange);
}

.suvs {
    background-color: var(--dark-cyan);
}

.luxury {
    background-color: var(--very-dark-cyan);
}

.img-icon {
    padding-bottom: 2.5em;
}

.type-title {
    padding-bottom: .5em;
}
.type-detail {
    padding-bottom: 2em;
}

/*
 -- Buttons
*/

.learn_btn {
    padding: .875em 2em;
    background-color: var(--very-light-gray);
    border-radius: 2em;
    text-decoration: none;
}

.learn_btn:hover{
    transition: 0.2s;
    background-color: transparent;
    border: 1px solid var(--very-light-gray);
    color: var(--very-light-gray);
}

.learn_btn--sedan {
    color: var(--bright-orange);
}

.learn_btn--suv {
    color: var(--dark-cyan);
}

.learn_btn--luxury {
    color: var(--very-dark-cyan);
}

/*
 -- Attribution
*/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/*
 -- Media Queries
*/
@media (min-width: 890px) {
    .container {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: var(--dktp);
        min-height: 500px;
        margin: 0 auto;
    }
    section {
        padding: 3em;
        max-width: 300px;
        color: var(--trans-white-p);
    }
    
    section:first-child {
        margin-top: 0;
        border-radius: .5em 0 0 .5em;
    }
    
    section:last-child {
        border-radius: 0 .5em .5em 0;
        margin-bottom: 0;
    }
}